:root {
  --black: #000;
  --black-60: rgba(0, 0, 0, .60);
  --off-black-90: rgba(28, 28, 28, 1);
  --off-black: #151515;
  --light-black: #2B2B2B;
  --light-grey: #afafaf;
  --dark-grey: #1C1C1C;
  --medium-grey: #303030;
  --darker-grey: #3D3D3D;
  --white: #fff;
  --white-50: rgba(255, 255, 255, .50);
  --blue: #00A3FF;
  --primary: #ead300;
}